<!DOCTYPE html>
<html>
<head>
  <title>OAuthTest</title>
  <%= stylesheet_link_tag "https://a248.e.akamai.net/assets.github.com/stylesheets/bundles/github-95a1056808ce70f6ab8fb74b8355aba5bddc3ae2.css" %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="header">
  <div id="user_nav">
    <% if current_user %>
      <%= link_to "Sign Out", signout_path %>
    <% else %>
      <%= link_to "Sign in with Twitter", "/auth/twitter" %>
      <%= link_to "Sign in with GitHub", "/auth/github" %>
    <% end %>
  </div>
</div>

<% flash.each do |name, msg| %>
  <div class="error">
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  </div>
<% end %>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
